
#cover-image {
  border: solid 1px black;
  width: 80%;
  background-image: url('fuckyou.jpg');
  position: absolute;
  left:50%;
  top:50%;
  width:840px;
  height:430px;

  margin-left:-419px; 
  margin-top:-70px;
}

#bio {
 /* margin-left:-419px; 
  margin-top:-70px;*/
}

body {
  background-image: url('nypl.digitalcollections.b815939c-35fe-9d03-e040-e00a18063d9b.001.w.jpg');

}