
@import url(https://fonts.googleapis.com/css?family=Righteous);


#bio {
  margin-left:-89px;          
  margin-top: 580px;
}
   
body {
  background: url('fuckyou.jpg') no-repeat;

} 

h1 {
  text-align: center;
  margin: 0 auto;
}

li{
  list-style-type: none;
  text-align: center;
}
.name {
  font-family: 'Righteous', cursive;
  font-size: 120px;
  text-align: center;
  padding: 7px 9px 190px 10px;
}
