<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div class= "header">
		<h1 class="name">Johnny Pacia</h1>
	</div>
	<div id="sticky-container">
		<div class="ui sticky" style="width: 272px !important; height: 263 px !important; left= -96.179px;">
			<nav class="ui middle vertical compact menu">
				<a id ="contact" class="item">Contact</a>
				<a id="resume" class="item">Resume</a>
				<div class="ui simple dropdown item">Projects
				    <div class="menu">
				      <div id="coding-projects"class="item">Coding</div>
				      <div id="music-projects" class="item">Music</div>
				    </div>
				</div>
			</nav>
		</div>

		<div id="bio" class="ui black inverted verticle footer segment">
				<div class="ui black center aligned container">
					<h1 class="inverted ui header">HOWDY WORLD!</h1>
					<p>I am a full-stack web developer based out of New York city currently seeking full-time employment.</p>
					<p>I recently graduated from General Assembly’s Web Development Immersive this January. Programming interested me due to my background in philosophy, which I studied as both an undergrad and graduate at Fordham University in the Bronx. After earning my MA and teaching some college courses I decided to move to Austin, TX to become part of the music scene.</p>
					<p>Having explored my musical style in Austin I decided to return home and acclimate my love of philosophy and music into new skill-sets, including, node.js, ruby-on-rails, and use of google’s Web Audio API.</p>
					<div id="johnny"></div>
				</div>
		</div>
		
		<div id="johnny-contact" class="ui black inverted verticle footer segment">
			<div class="ui black center aligned container">
				<div class="ui stackable inverted grid">
					<h1 id ="contact" class="ui johnny inverted header">CONTACT</h1>
					<a href="https://github.com/johnnypacia">
						<div class="three wide column"><i class="huge github icon"></i></div>
					</a>
					<a href="https://www.linkedin.com/in/johnnypacia">
						<div class="three wide column"><i class="huge linkedin icon"></i></div>
					</a>
					<a href="https://soundcloud.com/johnnypacia">
						<div class="three wide column"><i class="huge soundcloud icon"></i></div>
					</a>
				</div>
			</div>
		</div>

		<div id="johnny-coding" class="ui black inverted verticle footer segment">
			<div class="ui black center aligned container">
				<div class="ui stackable inverted grid">
					<h1 class="ui inverted header">CODING PROJECTS</h1>
					<div id="coding-projects-container">
							<a href="https://nameless-bayou-39478.herokuapp.com/">
								<div id="sound-shaper" class="three wide column">
							</div>
							</a>
							<a href="https://floating-mesa-1461.herokuapp.com/">
								<div id="attendance-tracker" class="three wide column"></div>
							</a>
							<a href="https://obscure-refuge-1439.herokuapp.com/">
								<div id="wiki-app" class="three wide column"></div>
							</a>
							<a href="http://johnnypacia.github.io/">
								<div id="simon-strums" class="three wide column"></div>
							</a>
					</div>
				</div>
			</div>
		</div>

		<div class="ui black inverted verticle footer segment">
			<div class="ui black center aligned container">
				<div class="ui stackable inverted grid">
			  		<h1 class="ui inverted header">MUSIC PROJECTS</h1>
			  		<div id="music-projects-container">
			  			<a href="https://itunes.apple.com/us/album/perique/id386403849">
			  				<div id="perique" class="three wide column"></div>
			  			</a>
			  			<a href="https://soundcloud.com/mancusomusic/johnny-pacia-brooklyn-morning">
			  				<div id="mayflower" class="three wide column"></div>
			  			</a>
			  			<a href="https://open.spotify.com/album/0S73UEfQzctFYTO0fTujQV">
			  				<div id="madam-george" class="three wide column"></div>
			  			</a>
			  		</div>
		  		</div>
		  	</div>
	  	</div>	
	  	<div class="ui black inverted verticle footer segment">
	  		<h1 id="last-h1" class="ui inverted header">Background Icon created by Jonathan Li</h1>
	  		<p id="last-p">All content © Johnny Pacia unless otherwise specified</p>
	  	</div>
		<div id"johnnys-resume" class="ui modal">
			<div class="header">JOHNNY PACIA'S RESUME</div>	
			<img src="resumescreen.png">
		</div>

</body>
</html>