<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<nav class="ui menu">
		<h3 class="header item">Johnny Pacia</h3>
		<a class="item">Projects</a>
		<a class="item">CV</a>
		<a class="item">Contact</a>
	</nav>
<!-- 	<div class="ui modal">
		  <div class="header">Header</div>
		  <div class="image content">
		      <img class="image">
		      <div class="description">
		      <p>elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    </div>
    </div> -->
	</div>
	<select name="menu" multiple="" class="ui fluid dropdown">
	  <option value="">Menu</option>
	  <option value="projects">Projects</option>
	  <option value="CV">CV</option>
	  <option value="contact">Contact</option>
	</select>

	<div id="bio">
		<p>I do not have a fucking bio and I do not one a fucking bio</p>
	</div>
<!-- 	<div id="cover-image">
	</div>
</body> -->
</html>