<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
<div class="ui secondary pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      Johnny Pacia
    </a>
  </div>
</div>
<div class="ui demo segment"><h1>HTML Ipsum Presents</h1>

<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

<h2>Header Level 2</h2>

<ol>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ol>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

<h3>Header Level 3</h3>

<ul>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ul>


<div class="ui segment">
  <p></p>
</div>

</body>
</html>





<!-- <div id="sticky-container">
		<div id="contact-sticky"class="ui sticky" style="width: 282px !important; height: 263 px !important; left= -96.179px;">
			<nav class="ui middle vertical compact menu">
				<a id="johnny-contact" class="item">Contact</a>
			</nav>
		</div> 
		<div class="ui sticky" style="width: 272px !important; height: 263 px !important; left= -196.179px;">
			<nav class="ui middle vertical compact menu">
				<a id="resume" class="item">Resume</a>
				<div class="ui simple dropdown item">Projects
				    <div class="menu">
				      <div id="coding-projects" class="item">Coding</div>
				      <div id="music-projects" class="item">Music</div>
				    </div>
				</div>
			</nav>
		</div>
	</div> 
	<div id="johnny-bio" class="ui sidebar inverted card">
		<div class="image">
			<img src="fuckyou.jpg">
		</div>
	</div>
	<div class="ui right sidebar inverted vertical menu">
	    <div class="image">
			<img src="fuckyou.jpg">
		</div>
	    <a class="item">
	      	<div class="pusher">
				<a class="inverted ui header">Howdy!</a>
				<p>I am an nyc-based full-stack web developer currently seeking full-time employment.</p>
				<p>Having explored my musical style in Austin, TX I decided to return home to NYC and acclimate my love of philosophy and music into new skill-sets, including, node.js, ruby-on-rails, and use of google’s Web Audio API.</p>
				<h1 id ="contact" class="ui johnny inverted header">CONTACT</h1>
				<a href="https://github.com/johnnypacia">
					<i class="github icon"></i>
				</a>
				<a href="https://www.linkedin.com/in/johnnypacia">
					<i class="linkedin icon"></i>
				</a>
				<a href="https://soundcloud.com/johnnypacia">
					<i class="soundcloud icon"></i>
				</a>
			</div>
	    </a>
	  </div>
	  <div class="overlay">
	</div>
	<div class="ui black inverted verticle footer segment">
		<div class="ui black center aligned container">
			<div class="ui stackable inverted grid">
				<h1 class="ui inverted header">CODING PROJECTS</h1>
				<div id="coding-projects-container">
					<a class="image" href="https://nameless-bayou-39478.herokuapp.com/">
						<div id="sound-shaper" class="three wide column">
					</div>
					</a>
					<a class="image" href="https://floating-mesa-1461.herokuapp.com/">
						<div id="attendance-tracker" class="three wide column"></div>
					</a>
					<a class="image"  href="https://obscure-refuge-1439.herokuapp.com/">
						<div id="wiki-app" class="three wide column"></div>
					</a>
					<a class="image" href="http://johnnypacia.github.io/">
						<div id="simon-strums" class="three wide column"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="ui black inverted verticle footer segment">
		<div class="ui black center aligned container">
			<div class="ui stackable inverted grid">
		  		<h1 class="ui inverted header">MUSIC PROJECTS</h1> 
		  		<div id="music-projects-container">
		  			<a href="https://itunes.apple.com/us/album/perique/id386403849">
		  				<div id="perique" class="three wide column"></div>
		  			</a>
		  			<a href="https://soundcloud.com/johnnypacia">
		  				<div id="mayflower" class="three wide column"></div>
		  			</a>
		  			<a href="https://open.spotify.com/album/0S73UEfQzctFYTO0fTujQV">
		  				<div id="madam-george" class="three wide column"></div>
		  			</a>
		  		</div>
	  		</div>
	  	</div>
  	</div>	
  	<div class="ui black inverted verticle footer segment">
  		<h1 id="last-h1" class="ui inverted header">Background Icon created by Jonathan Li</h1>
  		<p id="last-p">All content © Johnny Pacia unless otherwise specified</p>
  	</div>
	<div id="johnnys-resume" class="ui modal">
		<div class="header">JOHNNY PACIA'S RESUME</div>	
		<img src="resumescreen.png">
	</div> -->