<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head> 
<body>
<div class="ui secondary pointing menu">
  <a class="item" href="/music">
    Past
  </a>
  <a class="active item" href="/">
    Present
  </a>
  <a class="item">
    Future
  </a>
  <div class="right menu">
    <a class="ui item">
      Johnny Pacia
    </a>
  </div>
</div>
<div class="ui unstackable items">
  <div class="item">
    <div class="image">
      <img src="ATX.jpg">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
  <div class="item"> 
    <div class="image">
      <img src="ATX.jpg">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
</div>
<div class="ui demo segment">
<div class="ui segment">
	<div class="ui container">
	  <div class="ui text container slides">
	    <i class="ui big left angle icon"></i>
	    <i class="ui big right angle icon"></i>	    
	    <div class="ui faded slide active">
	      <a class="header">Slide one</a>
	      <div class="ui image">
		    <img src="JohnnySunset.JPG">
		  </div>
	    </div>
	    <div class="ui inverted shadow blurred slide">
	      <a class="header">Slide two</a>
	      <div class="ui image">
		    <img src="AmericanSpirits.JPG">
		  </div>
	    </div>
	    <div class="ui inverted salmon faded slide">
	      <h1>Slide three</h1>
	      <div class="ui image">
		    <img src="StarFace.JPG">
		  </div>
	    </div>
	  </div>
	</div>
</div>

</body>
</html>




