<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
<h1>ya gotta start somewhere, kid</h1>
	<nav class="ui menu">
		<h3 class="header item">Johnny Pacia</h3>
		<a class="item">Projects</a>
		<a class="item">CV</a>
		<a class="item">Contact</a>
	</nav>

	<div>
	</div>
</body>
</html>