<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<script src="semantic/dist/semantic.min.js"></script>
</head>
<body>

</body>
</html>