<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head> 
<body>
	<div class="ui secondary pointing menu">
	  <a class="item" href="/music">
	    Music
	  </a>
	  <a class="active item" href="/">
	    Present
	  </a>
	  <a class="item" href="/coding">
	    Coding
	  </a>
	  <div class="right menu">
	    <a class="ui item">
	      Johnny Pacia
	    </a>
	  </div>
	</div>
	<div class="ui stackable items">
		<div class="item active">
		    <div class="ui image headshot">
		      <img src="Johnny2020.jpg">
		    </div>
		    <div class="content">
		      <a class="header">Site Under Construction</a>
		      <div class="meta">
		        <span>2020</span>
		      </div>
		      <div class="description">
		       <!--  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kg5N1WWW0ZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
		      </div>
		       <div class="extra"><p>
		        I promise they'll be some great stuff here soon. Just testing out features in the meantime.</p>
		        <i class="github large icon" href="https://github.com/johnnypacia"></i><i class="linkedin large icon" href="https://www.linkedin.com/in/johnnypacia"></i>
		      </div>
	    </div>
    <div class="extra">
     <!--    <iframe frameborder="0" height="300" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"  src="https://embed.music.apple.com/us/album/perique/386403849?app=music"></iframe> -->
      </div>
  </div>
	</div>	    
</body>
</html>




