<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div class= "header">
		<h1 class="name">Johnny   Pacia</h1>
	</div>

	<div id="sticky-container">
		<div class="ui sticky" style="width: 272px !important; height: 263 px !important; left= -96.179px;">
			<nav class="ui middle vertical inverted compact menu">
				<a id ="contact" class="item">Contact</a>
				<a id="resume" class="item">Resume</a>
				<div class="ui simple dropdown item">Projects
				    <div class="menu">
				      <div id="coding-projects"class="item">Coding</div>
				      <div id="music-projects" class="item">Music</div>
				    </div>
				</div>
			</nav>
		</div>

		<div id="bio" class="ui black inverted verticle footer segment">
				<div class="ui black center aligned container">
					<h1 id ="johnny-bio" class="ui johnny inverted header">BIO</h1>
					<p>I am a full-stack web developer based out of New York city currently seeking full-time employment.</p>
					<p>I recently graduated from General Assembly’s Web Development Immersive this January. Programming interested me due to my background in philosophy, which I studied as both an undergrad and graduate at Fordham University in the Bronx. After earning my MA and teaching some college courses I decided to move to Austin, TX to become part of the music scene.</p>
					<p>Having explored my musical style in Austin I decided to return home and acclimate my love of philosophy and music into new skill-sets, including, node.js, ruby-on-rails, and use of google’s Web Audio API.</p>
				</div>
		</div>
		
		<div id="johnny-contact" class="ui black inverted verticle footer segment">
			<div class="ui black center aligned container">
				<div class="ui stackable inverted grid">
					<h1 id ="contact" class="ui johnny inverted header">CONTACT</h1>
					<div class="three wide column"><i class="big github icon"></i></div>
					<div class="three wide column"><i class="big linkedin icon"></i></div>
					<div class="three wide column"><i class="big soundcloud icon"></i></div>
				</div>
			</div>
		</div>

		<div class="ui black inverted verticle footer segment">
			<div class="ui black center aligned container">
				<div class="ui stackable inverted grid">
					<h1 class="ui inverted header">CODING PROJECTS</h1>
					<div id="coding-projects-container">
							<div id="sound-shaper" class="three wide column">
							</div>
							<div id="attendance-tracker" class="three wide column"></div>
							<div id="wiki-app" class="three wide column"></div>
							<div id="simon-strums" class="three wide column"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui black inverted verticle footer segment">
			<div class="ui black center aligned container">
				<div class="ui stackable inverted grid">
			  		<h1 class="ui inverted header">MUSIC PROJECTS</h1>
			  		<div id="music-projects-container">
			  			<div id="perique" class="three wide column"></div>
			  			<div id="mayflower" class="three wide column"></div>
			  			<div id="madam-george" class="three wide column"></div>
			  		</div>
		  		</div>
		  	</div>
	  	</div>	


		<div id"johnnys-resume" class="ui modal">
			<div class="header">JOHNNY PACIA'S RESUME</div>			
			<div class="description">
				      <p>elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
</body>
</html>