<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<title>Johnny Pacia</title>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="/dist/semantic.min.js"></script>
	<script src="main.js"></script>
</head> 
<body>
<div class="ui secondary pointing menu">
  <a class="item" href="/music">
    Music
  </a>
  <a class="active item" href="/">
    Present
  </a>
  <a class="item" href="/coding">
    Coding
  </a>
  <div class="right menu">
    <a class="ui item">
      Johnny Pacia
    </a>
  </div>
</div>
<div class="ui unstackable items">
  <div class="item">
    <div class="image">
      <img src="ATX.jpg">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
  <div class="item"> 
    <div class="image">
      <img src="ATX.jpg">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
</div>
<div class="ui demo segment">
<div class="ui segment">
	<div class="ui container">
	  <div class="ui text container slides">
	    <i class="ui big left angle icon"></i>
	    <i class="ui big right angle icon"></i>	    
	    <div class="ui faded slide image active">  
	      <a class="header">Slide one</a>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
      	</div>   	    
	    <div class="ui faded slide image">
	      <div class="item">
    <div class="ui image">
      <img src="ATX.jpg">
    </div>
    <div class="content">
      <a class="header">Production</a>
      <div class="meta">
        <span>Brooklyn, NY</span>
      </div>
      <div class="description">
        <video id="my-video" class="vjs-fullscreen video-js vjs-default-skin vjs-big-play-centered" controls="" poster="" preload="auto">
        <source src="allenfuckingiverson.mp4" type="video/mp4">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
        </video>
      </div>
      <div class="item">
        <a class="extra" href="http://www.papertiger.nyc/" target="_blank">Paper Tiger</a>
      </div>
      <div class="extra">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
      </div>
    </div>
    <div class="extra">
     <!--    <iframe frameborder="0" height="300" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"  src="https://embed.music.apple.com/us/album/perique/386403849?app=music"></iframe> -->
      </div>
  </div>
	    </div>
	    <div class="ui faded slide image">
	      <a class="header">Slide three</a>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet</p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet</p>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>




