<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico">
  <title>Johnny Pacia</title>
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="/dist/semantic.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
<div class="ui secondary pointing menu">
  <a class="active item" href="/music">
    Music
  </a>
  <a class="item" href="/">
    Present
  </a>
  <a class="item" href="/coding">
    Coding
  </a>
  <div class="right menu">
    <a class="ui item">
      Johnny Pacia
    </a>
  </div>
</div>
</div>
<div class="ui two item menu">
    <a id="recording" class="item active">Recording</a>
    <a id="production" class="item">Production</a>
</div>
<div class="ui stackable items">
  <div class="recording music item active">
    <div class="ui image">
      <img src="Perique.png">
    </div>
    <div class="content">
      <a class="header">Recording</a>
      <div class="meta">
        <span>Brooklyn, NY</span>
      </div>
      <div class="description">
       <!--  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kg5N1WWW0ZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      </div>
       <div class="extra"><p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
      </div>
    </div>
    <div class="extra">
     <!--    <iframe frameborder="0" height="300" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"  src="https://embed.music.apple.com/us/album/perique/386403849?app=music"></iframe> -->
      </div>
  </div>
  <div class="recording music ui divider"></div>
  <div class="recording music item active">
    <div class="ui image">
      <img src="Perique.png">
    </div>
    <div class="content">
      <a class="header">Recording</a>
      <div class="meta">
        <span>Brooklyn, NY</span>
      </div>
      <div class="description">
       <!--  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kg5N1WWW0ZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      </div>
       <div class="extra"><p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
      </div>
    </div>
    <div class="extra">
     <!--    <iframe frameborder="0" height="300" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"  src="https://embed.music.apple.com/us/album/perique/386403849?app=music"></iframe> -->
      </div>
  </div>
  <div class="production music item">
    <div class="content">
      <a class="header">Production</a>
      <div class="meta">
        <span>Brooklyn, NY</span>
      </div>
      <div class="description">
        <video id="my-video" class="vjs-fullscreen video-js vjs-default-skin vjs-big-play-centered" controls="" poster="" preload="auto">
        <source src="allenfuckingiverson.mp4" type="video/mp4">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
        </video>
      </div>
      <div class="item">
        <a class="extra" href="http://www.papertiger.nyc/" target="_blank">Paper Tiger</a>
      </div>
      <div class="extra"><p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
      </div>
    </div>
    <div class="extra">
     <!--    <iframe frameborder="0" height="300" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"  src="https://embed.music.apple.com/us/album/perique/386403849?app=music"></iframe> -->
      </div>
  </div>
  <div class="ui divider"></div>
  <div class="item">
    <div class="ui card">
    <img src="ATX.jpg">    
      <div class="content">
        <a class="header">ATX 2011-15</a>
        <div class="meta"><span>Austin, TX</span>
        </div>
        <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
        </div>
        <div class="extra"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
         <!--  <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/Z7WdohnLobQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media;  " allowfullscreen></iframe>
          <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" src="https://embed.music.apple.com/us/album/this-part-of-me/1069904215?i=1069904227&app=music"></iframe> -->
        </div>
      </div>
    </div> 
  </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui cards">
   <div class="card">
    <div class="image">
      <img src="StarFace.JPG">
    </div>
  </div>  
  <div class="card">
    <div class="image">
      <img src="ATX11-15.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="Johnny2019.png">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="J2013.jpg">
    </div>
  </div>
</div> 
</div>
<script src="https://vjs.zencdn.net/7.6.0/video.js"></script>
</body>
</html>
