<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico">
  <title>Johnny Pacia</title>
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="/dist/semantic.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
<div class="ui secondary pointing menu">
  <a class="active item" href="/music">
    Past
  </a>
  <a class="item" href="/">
    Present
  </a>
  <a class="item">
    Future
  </a>
  <div class="right menu">
    <a class="ui item">
      Johnny Pacia
    </a>
  </div>
</div>
<div class="ui items">
  <div class="item">
    <div class="ui image">
      <img src="Perique.png">
    </div>
    <div class="content">
      <a class="header">Perique</a>
      <div class="meta">
        <span>Brooklyn, 2010</span>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
      </div>
      <div class="extra">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
</div>
</body>
</html>
